<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <figure>
    <img src="/img/logo-DH.png" alt="Logo Digital House">
  </figure>
  <h1>
    <%= title %>
  </h1>
  <p>Bienvenidos a <%= title %>
  </p>
  <a href="/movies">Lista de películas</a>
  <a href="/movies/new">Últimos estrenos</a>
  <a href="/movies/recommended">Películas recomendadas</a>
  <a href="/genres">Lista de géneros</a>
  <a href="/actors">Listado de Actores</a>
</body>

</html>